{{ print "<!-- " .block.id " -->" | safeHTML }}
<section id="{{.block.id}}" class="main special">
    <div class="container">
        <div class="content">
          <header class="major">
              <h2>{{ with .block.title}}{{ . | markdownify }}{{ end }}</h2>
          </header>
          <div class="row uniform">
            <div class="6u">
              <h3>{{ with .block.title_left}}{{ . | markdownify }}{{ end }}</h2>
              <p>{{ with .block.description_left}}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="6u">
              <h3>{{ with .block.title_right}}{{ . | markdownify }}{{ end }}</h2>
              <p>{{ with .block.description_right}}{{ . | markdownify }}{{ end }}</p>
            </div>
          </div>
        </div>
        {{ if .next }}
        <a href="#{{.next.id}}" class="goto-next scrolly">{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a>
        {{ end }}
    </div>
</section>
